@import url('https://fonts.googleapis.com/css?family=Lora&display=swap');

.novaMetaTitle {
    margin: 0;
    display: flex;
    justify-content: center;
    
}

.itemInput {
    background: #FFF9FC;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
     
}

label {
    margin-left: 20px;
    font-family: 'Lora', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 75px;
    display: flex;
    align-items: center;

    color: #000000;
}


.itemForm {
    margin-top: 30px;
    margin-right: 80px;
    margin-left: 80px;

}

.formNovaMeta {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.doubleInput {
    display: flex;
    justify-content: space-between;
}

.submitButton {
    margin-bottom: 30px;
    margin-top: 30px;
    margin-left: 100px;
    text-decoration: none;
    max-width: 200px;
    border: none;
    font-family: 'Lora', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    background: #FFCB7C;
    border-radius: 5px;
}

.pickCollor {
    background: #FFF9FC;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    width: 33%;
    margin-left: 40px;
    height: 40px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}


.descInput {
    background: #FFF9FC;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    width: 100%;
    
    height: 300px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.inputDate {
    height: 100vh;
}
