@import url('https://fonts.googleapis.com/css?family=Lora&display=swap');
.firstSection {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-around;
}

.innerSection {
    display: flex;
    flex-direction: column;
}

h1 {
    margin-top: 100px;
    font-family: 'Lora', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 36px;
    display: flex;
    align-items: center;
    color: #000000;
}

.info {
    font-family: 'Lora', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    display: flex;
    align-items: center;
    color: #000000;
    max-width: 250px;
}

.firstSectionImage {
    display: flex;
    align-self: flex-end;
}