@import url('https://fonts.googleapis.com/css?family=Vidaloka&display=swap');


.thirdSection {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.thirdSectionInfo {
    margin-bottom: 50px;
    max-width: 500px;
    align-content: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.thirdSectionTitle {
    font-family: "Vidaloka", serif;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 75px;
    color: #000000;
}
