@import url('https://fonts.googleapis.com/css?family=Vidaloka&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lora&display=swap');

.secondSection {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.secondSection .secondSectionInfo {
    
    display: flex;
    justify-content: center;
}

h2 {
    
    margin:0;
    font-family: "Vidaloka", serif;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 75px;
    color: #000000;
}

.item {
    align-content: space-around;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-left: 50px;
    margin-right: 50px;
}

.subTitle {
    font-family: 'Lora', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}

.desc {
    font-family: 'Lora', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 36px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}

.secondSectionImage {
   display: flex;
   margin-left: 70px;
}