
@import url('https://fonts.googleapis.com/css?family=Lora&display=swap');

.emBreveContent {
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: space-around;
}

.emBreveText {
    margin-top: 50px;
    margin-bottom: 20px;
    max-width: 600px;
    font-family: 'Lora', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    /* or 150% */

    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}