@import url('https://fonts.googleapis.com/css?family=Lora&display=swap');

.primaryButtonStyle {
    text-decoration: none;
    max-width: 200px;
    border: none;
    font-family: 'Lora', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    background: #FFCB7C;
    border-radius: 5px;
}

