.textoFooter {
    font-family: 'Lora', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 36px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
  
    color: #000000;
  }
  
  .backgroundFooter{
    height: 50px;
    display: flex;
    justify-content: center;
    background: #F9D285;
  }