@import url('https://fonts.googleapis.com/css?family=Lora&display=swap');

.notFoundTitle {
    margin-top: 100px;
    margin-bottom: 20px;
    margin: 0px;
    display: flex;
    justify-content: center;
}

.notFoundContent {
    margin-bottom: 200px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.notFoundText {
    font-family: 'Lora', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}